*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* --foreground: #ededed; */
  --white: #fff;
  --black: #000;
  --background: #121212;
  --surface: #1e1e1e;   
  --foreground: #e0e0e0;       
  --link: #906faf;
  --muted: #a0a0a0;           
  --primary: #1e90ff;        
  --primary-hover: #0f78d4;   
  --secondary: #ff79b0;       
  --accent: #ffb74d;          
  --success: #4caf50;         
  --error: #f44336;             
  --border: #333333;           
  --shadow: rgba(0,0,0,0.7);    
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

#modal__root {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}