
.project__item {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1.3rem;
    padding: .34rem .4rem;
    border-radius: .3rem;
    cursor: pointer;
}
.project__item:hover {
    background-color: var(--surface);
}
.project__item img {
    height: auto;
}
.project__item__text__content {
    justify-content: space-between;
    padding-left: 1.4rem;
}
.project__item,
.project__item__text__content {
    display: flex;
    align-items: center;
    width: 100%;
}
.project__item__info {
    margin-right: auto;
}

.project__item__btns__container button svg {
    width: 100%;
    display: block;
}