.form__create__project {
    padding: 2rem 0 1rem 0;
}

.label__project__name,
.label__project__language {
    display: block;
    margin-bottom: .2rem;
    font-size: .9rem;
}

.project__name,
.project__language {
    border: none;
    outline: none;
    width: 100%;
    max-width: 300px;
    padding: .3rem .87rem;
    border-radius: .3rem;
}

.project__name {
    margin-bottom: 1.1rem;
}

.select__language__container {
    margin-bottom: 2.4rem;
}

.project__language {
    cursor: pointer;
}