.button {
    background: none;
    outline: none;
    color: var(--foreground);
    border: 1px solid var(--foreground);
    border-radius: .3rem;
    font-weight: 500;
    cursor: pointer;
}
.button:hover {
    background: var(--foreground);
    color: var(--background);
    transition: all .3s ease-in-out;
}
.button__medium {
    padding: .34rem .894rem;
    font-size: .91rem;
}
.button__large {
    padding: .4rem 1.2rem;
    font-size: 1rem;
}