.project__details__container{
    display: flex;
    align-items: flex-start;
    height: 100vh;
    position: relative;
}

.code__container,
.output__container {
    width: 50%;
    height: 100%;
}

.error {
    color: red;
}