.form__signup {
    width: 100%;
    padding: 2rem 0;
}


.navigate__signup__container {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    font-size: .8rem;
}

.navigate__signup__container span {
    margin-left: .7rem;
}

.navigate__signup__container span a {
    color: var(--link);
}


.btns__form__signup__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
}


.btn  {
    max-width: 300px;
    width: 90%;
    padding: .453rem .7rem;
    border: none;
    border-radius: .3rem;
    outline: none;
    cursor: pointer;
}

.btn__signup {
    margin-bottom: .91rem;
}
.btn__signup:hover {
    background-color: var(--muted);
    /* background-color: var(--surface); */
    /* color: var(--foreground); */
    color: var(--white);
    transition: all .3s ease-in-out;
}

.btn__guest {
    background-color: var(--surface);
    color: var(--foreground);
    font-size: 0.833rem;
    text-align: center;
}
.btn__guest:hover {
    background-color: #333333;
    color: var(--foreground);
    transition: all .3s ease-in-out;
}